/******************NAV******************/
nav{
}
.dropdown:hover>.dropdown-menu{
    display:block;
}
.dropdown-menu {
    margin:0;
}
.bg-light {
 background-color: #5f4b8b !important;
}
.btn-outline-success {
    color: #fff;
    border: 2px solid #fff;
    transition: 300ms;
    padding: 5px 10px;
}

.btn-outline-success:hover {
    color: rgba(255, 255, 255, .8);
    background-color: rgba(0, 0, 0, .2);
    border-color: rgba(255, 255, 255, .8);
}

.navbar .navbar-brand {
    color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ac00ff;
}
.navbar .navbar-text {
    color: #ffffff;
}
.navbar .navbar-text a {
    color: #ac00ff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ac00ff;
}
.navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ac00ff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ac00ff;
    background-color: #5f4b8b;
}
.navbar .navbar-toggle {
    border-color: #5f4b8b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #5f4b8b;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}
.navbar .navbar-link {
    color: #ffffff;
}
.navbar .navbar-link:hover {
    color: #ac00ff;
}

.navbarForm .zoekBalk{
    width: 300px;
    transition: 200ms;
}

.navbarForm .zoekBalk:focus{
    box-shadow: 0 0 10px rgb(165, 105, 189);
    border-color: rgba(165, 105, 189, .8);
    padding: 5px;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ac00ff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ac00ff;
        background-color: #5f4b8b;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ac00ff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ac00ff;
        background-color: #5f4b8b;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ac00ff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ac00ff;
        background-color: #5f4b8b;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ac00ff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ac00ff;
        background-color: #5f4b8b;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ac00ff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ac00ff;
    background-color: #5f4b8b;
}
/**********************MAIN***********************/
main{
    min-height: calc(100vh - 112px);
}
/********************* FOOTER*********************/
footer{
    background-color: #5f4b8b;
    color: #fff;
}
footer p{
    display: flex;
    margin: 6px 0;
}

.bovenstukFooter{
    background: #876EBD;
}

footer div div div hr{
    width: 60px;
    border-color: rgba(255, 255, 255, .5);
}

footer a{
    color: #fff;
    transition: 200ms;
}

footer a:hover{
    text-decoration: underline;
    color: rgb(220, 220, 220);
    padding-left: 5px;
}

footer div div div p img{
    opacity: .9;
    width: 21px;
    max-height: 21px;
    max-width: 21px;
    user-select: none;
    margin-right: 7px;
}

footer div div div div a img{
    width: 40px;
    opacity: .7;
    transition: 300ms;
}

footer div div div div img:hover{
    opacity: 1;
}

footer div div div div a:hover{
    padding: 0;
}

/******************** HOMEPAGE *****************/
/* De kleur paars: #A569BD of 165, 105, 189 */

body{
    background: rgb(255, 255, 255);
}

/* DE SLIDESHOW: */
.slideshow{
    margin: 40px 17% 0 17%;
}

.carousel-item div a h3{
    color: white;
    transition: 200ms;
}

.carousel-item div a h3:hover{
    text-decoration: underline;
    text-decoration-color: white;
    padding-bottom: 5px;
}

.sliderLinks:hover{
    text-decoration: none;
}

.homePage .products{
    margin-top: 40px;
    padding: 30px 17% 150px 17%;
    background: rgb(245, 245, 245);
}

.homePage .products h3{
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

.homePage .products .productsList{
    margin-top: 20px;
}

.card{
    margin: 25px 0;
    width: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.card-link{
    color: #B166CF;
    transition: 200ms;
}

.card-link:hover{
    color: #B166CF;
    padding-left: 10px;
}

.card a img{
    max-height: 400px;
}

/*********************** LOGIN-, REGISTRATIE-, UPDATE-, UPGRADE EN ADDPRODUCTFORMULIER *******************/
.registerPagina .container{
    margin-top: 100px;
    margin-bottom: 200px;
}

.registerPagina .container .subcontainer{
    background: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
}

.registerPagina .container .subcontainer h5{
    font-size: 22px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 15px;
}

.registerPagina .inputVelden{
    padding: 0 20px;
}

.registerPagina .gaTerugKnopBox{
    margin: 40px 0 20px 0;
}

.registerPagina .gaTerugKnop{
    color: #000;
    font-size: 18px;
    transition: 150ms;
    text-decoration: underline;
}

.registerPagina .gaTerugKnop:hover{
    color: rgb(165, 105, 189);
    padding-left: 15px
}

.registerPagina .registerButton{
    margin-top: 30px;
    padding: 5px 100px;
    background: none;
    border: 2px solid rgb(165, 105, 189);
    border-radius: 20px;
    font-size: 20px;
    transition: 200ms;
    color: rgb(165, 105, 189);
}

/* De gehele container van de login */
#login .container #login-row #login-column #login-box{
    margin: 100px 0;
    max-width: 600px;
    height: 100%;
    border: 2px solid rgb(165, 105, 189);
    border-radius: 20px;
    background: #fff;
}

/* De gehele container van de register */
#register .container #login-row #login-column #login-box{
    border-width: 1px;
    max-width: none;
    background-color: #fff;
}

.updateForm p{
    font-size: 18px;
}

.addProductPagina .addProductForm{
    margin-top: 50px;
    margin-bottom: 100px;
}

/* De subtitels (bijv: Accountgegevens en beveiliging) */
.registerForm h5, .verkoperFor h5, .updateForm h5, .addProductForm .container h5{
    margin-bottom: 20px;
}

/* De padding tussen de form en de rand van de gehele container */
#login .container #login-row #login-column #login-box #login-form{
    padding: 20px;
}

/* De titels (bijv: Inloggen/Registreren) */
.loginForm h2, .registerForm h2, .upgradeForm h2, .updateForm h2{
    font-weight: normal;
    color: rgb(80, 80, 80);
    isolation: isolate;
}

.upgradeForm h2, .updateForm h2{
    margin-bottom: 35px;
    isolation: isolate;
}

/* De 'Registreren' titel */
.registerForm h2, .addProductForm h2{
    margin-bottom: 50px;
    isolation: isolate;
}

/* De woorden bij de vakjes (bijv: Gebruikersnaam/Wachtwoord) */
.loginForm label, .registerForm label, .upgradeForm label, .updateForm label, .addProductForm .container div label{
    font-size: 17px;
}

/* De vakjes waar de gebruiker iets in moet vullen */
.loginForm input, .registerForm input, .registerForm select, .upgradeForm input, .updateForm input, .addProductForm input, .addProductForm select, .updateForm select{
    border-radius: 10px;
    transition: 200ms;
}

/* Als de gebruiker een vakje selecteert: */
.loginForm input:focus, .registerForm input:focus, .registerForm select:focus, .upgradeForm input:focus, .updateForm input:focus, .updateForm select:focus, .addProductForm input:focus, .addProductForm select:focus{
    padding: 5px;
    border-color: rgba(165, 105, 189, 0.8);
    box-shadow: 0 0 10px rgb(165, 105, 189);
}

/* In de loginpagina, de linkjes van bijv: 'Wachtwoord vergeten?' */
.loginForm a{
    color: black;
    transition: 200ms;
    text-decoration: underline;
}

/* Als de gebruiker eroverheen hovert met zijn muis: */
.loginForm a:hover{
    padding-left: 10px;
    color: rgb(165, 105, 189);
}

/* In de registerpagina, de tekst: Ik heb al een account */
.registerForm div a p,
.upgradeForm a, .updateForm a,
.addProductForm div a,
.mijnVeilingenPagina .gaTerugKnopBox .gaTerugKnop,
.mijnFavorietenPagina .gaTerugKnopBox .gaTerugKnop{
    color: #000;
    text-decoration: underline;
    font-size: 18px;
    transition: 200ms;
    isolation: isolate;
}

/* het hierbovenstaande, alleen de gebruiker hovert eroverheen met zijn muis */
.registerForm div a p:hover,
.upgradeForm a:hover, .updateForm a:hover,
.addProductForm div a:hover,
.mijnVeilingenPagina .gaTerugKnop:hover,
.mijnFavorietenPagina .gaTerugKnop:hover{
    text-decoration: underline;
    padding-left: 15px;
    color: rgb(165, 105, 189);
    isolation: isolate;
}

/* De 'bevestig'-knop */
.loginForm .inlogButton, .upgradeForm .upgradeButton, .updateForm .updateButton, .addProductForm .addProductButton{
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 30%;
    color: rgb(165, 105, 189);
    background: #fff;
    border: 2px solid rgb(165, 105, 189);
    border-radius: 25px;
    transition: 200ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    isolation: isolate;
}

.addProductForm .addProductButton{
    padding: 5px 50px;
}

.upgradeForm .upgradeButton, .updateForm .updateButton{
    padding: 5px 20px
}

.updateForm .updateButton{
    margin-bottom: 100px;
}

/* Als de gebruiker over de knop hovert met zijn muis */
.loginForm .inlogButton:hover, .registerForm .registerButton:hover, .upgradeForm .upgradeButton:hover, .updateForm .updateButton:hover, .addProductForm .addProductButton:hover{
    background: rgb(165, 105, 189);
    color: #fff;
    border-color: rgb(165, 105, 189);
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

/* In de registerpagina, de containers van de twee verschillende onderwerpen, dus: (Accountgegevens & beveiliging) en Persoonlijke gegevens */
.registerForm .container, .upgradeForm .container, .updateForm .container, .addProductForm .container{
    background: rgb(245, 245 ,245);
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
    isolation: isolate;
}

.upgradeForm, .updateForm{
    margin-top: 100px;
}

.addProductPagina .addProductForm .container .form-row div div span{
    max-height: 38px;
}

.addProductPagina .addProductForm .container .row .cardPreviewBox{
    padding-left: 100px;
    border-left: 1px solid rgba(0, 0, 0, .15);
}

@media (max-width: 992px) {
    .addProductPagina .addProductForm .container .row .cardPreviewBox{
        margin-top: 30px;
        padding-left: 0px;
        border: none;
    }

    .addProductPagina .addProductForm .container .row  h4{
        text-align: left;
    }
}

.addProductPagina .addProductForm .container .row .cardPreviewBox .card{
    padding: 0;
}

.addProductPagina .addProductForm .container h4{
    font-weight: normal;
    padding-bottom: 10px;
}

.addProductPagina .addProductForm .productContainer{
    min-height: 620px;
}

.addProductPagina .addProductForm .productContainer .row .productGegevens .form-row .form-group textarea,
.addProductPagina .addProductForm .container .form-row .form-group textarea,
.addProductPagina .addProductForm .custom-file label,
.addProductPagina .addProductForm .custom-file label::after{
    border-radius: 10px;
    transition: 200ms;
}

.addProductPagina .addProductForm .custom-file label::after{
    border-left: none;
    border-radius: 0 10px 10px 0;
}

.addProductPagina .addProductForm textarea:focus{
    box-shadow: 0 0 10px rgb(165, 105, 189);
    border-color: rgb(165, 105, 189);
    padding-left: 5px;
}

/*************** Mijn Veilingen & Favoriete veilingen CSS *************/
.mijnVeilingenPagina h2, .mijnFavorietenPagina h2{
    font-weight: normal;
    margin-top: 75px;
    isolation: isolate;
}

.mijnVeilingenPagina h5, .mijnFavorietenPagina h5{
    margin-top: 30px;
    font-weight: normal;
}

.mijnVeilingenPagina .tabel, .mijnFavorietenPagina .tabel{
    margin-top: 30px;
}

.mijnVeilingenPagina .gaTerugKnopBox, .mijnFavorietenPagina .gaTerugKnopBox{
    margin-top: 75px;
    isolation: isolate;
}

.mijnVeilingenPagina .table-responsive a, .mijnFavorietenPagina .table-responsive a{
    color: rgb(165, 105, 189);
}

.mijnVeilingenPagina .table-responsive a:hover, .mijnFavorietenPagina .table-responsive a:hover{
    text-decoration-color: rgb(165, 105, 189);
}

.mijnVeilingenPagina .table-responsive thead tr, .mijnFavorietenPagina .table-responsive thead tr{
    background: rgba(165, 105, 189, .7);
}

.mijnVeilingenPagina .table-responsive thead tr th, .mijnFavorietenPagina .table-responsive thead tr th{
    border: none;
}

.mijnVeilingenPagina .table tbody tr td a{
    text-decoration: underline;
}


.mijnVeilingenPagina .gaTerugKnop a, .mijnFavorietenPagina .gaTerugKnop a{
    text-decoration: underline;
    text-decoration-color: white;
    color: #000;
    transition: 200ms;
    font-size: 18px;
    isolation: isolate;
}

.mijnVeilingenPagina .gaTerugKnop a:hover, .mijnFavorietenPagina .gaTerugKnop a:hover{
    padding-left: 15px;
    color: rgb(165, 105, 189);
    text-decoration-color: rgb(165, 105, 189);
    isolation: isolate;
}

.mijnVeilingenPagina .legendaDropdownButton, .mijnFavorietenPagina .legendaDropdownButton{
    color: rgb(165, 105, 189);
    font-size: 18px;
    border: none;
    background: none;
    transition: 300ms;
    padding: 3px 10px;
    text-decoration: underline;
    text-decoration-color: #fff;
    margin-bottom: 20px;
}

.mijnVeilingenPagina .legendaDropdownButton:hover,
.mijnVeilingenPagina .legendaDropdownButton:focus,
.mijnFavorietenPagina .legendaDropdownButton:hover,
.mijnFavorietenPagina .legendaDropdownButton:focus{
    text-decoration-color: rgb(165, 105, 189);
}

.mijnVeilingenPagina .dropdown-menu{
    max-width: 400px;
}

.mijnFavorietenPagina .dropdown-menu{
    max-width: 420px;
}

.mijnVeilingenPagina .dropdown-item:active, .mijnVeilingenPagina .dropdown-item:hover, .mijnFavorietenPagina .dropdown-item:active, .mijnFavorietenPagina .dropdown-item:hover{
    background: none;
}

.mijnVeilingenPagina .dropdown-menu th, .mijnFavorietenPagina .dropdown-menu th{
    border-top: none;
    padding-top: 5px;
}

.mijnVeilingenPagina .dropdown-menu td, .mijnFavorietenPagina .dropdown-menu td{
    font-size: 1em;
}

/*************** ProfielPagina CSS *************/
.profielPagina .jumbotron{
    padding-left: 20%;
}

.profielPagina .jumbotron p{
    margin-bottom: 0;
    font-size: 17px;
}

.profielPagina .container{
    margin-bottom: 150px;
}

.profielPagina .mijnEenmaalAndermaalTitel{
    margin-top: 75px;
}

.profielPagina .mijnEenmaalAndermaalTitel h2{
    font-weight: normal;
    isolation: isolate;
}

.profielPagina .container .row div .card .card-body img{
    max-height: 410px;
    margin-bottom: 20px;
}

.profielPagina .container .row div .card .card-body a{
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
    background: #fff;
    color: rgb(165, 105, 189);
    border: 2px solid rgb(165, 105, 189);
    border-radius: 25px;
    transition: 200ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.profielPagina .container .row div .card .card-body a:hover{
    color: #fff;
    background: rgb(165, 105, 189);
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.profielPagina .container .row div .card .card-body h4{
    font-weight: normal;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    padding-bottom: 10px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, .02);
    text-align: center;
}

.profielPagina .container .row div .card .card-body p b{
    font-weight: bold;
}

.profielPagina .tussenLijn{
    margin-top: 30px;
    padding-top: 30px;
    font-weight: normal;
    margin-left: -15px;
    border-top: 1px solid rgba(0, 0, 0, .07);
}

.profielPagina .container .container .verkopersPaginaButtonBox{
    margin-top: -35px;
    margin-bottom: 0px;
}

.profielPagina .verkopersPaginaButton{
    font-size: 18px;
    color: #fff;
    background: rgb(165, 105, 189);
    padding: 5px 10px;
    border-radius: 10px;
    transition: 200ms;
}

.profielPagina .verkopersPaginaButton:hover{
    text-decoration: none;
    background: rgb(126, 66, 149);
}

@media (max-width: 575px) {
    .profielPagina .container .container .verkopersPaginaButtonBox{
        margin-top: 30px;
    }

    .profielPagina .verkopersPaginaButton{
        background: none;
        color: rgb(165, 105, 189);
        text-decoration: underline;
        text-decoration-color: rgb(165, 105, 189);
    }

    .profielPagina .verkopersPaginaButton:hover{
        background: none;
        text-decoration: underline;
    }
}

/*************** WACHTWOORD VERGETEN CSS *************/
main .container .wachtwoordVergetenForm{
    margin-top: 50px;
}

main .container h2, main .container h5{
    font-weight: normal;
    color: rgb(80, 80, 80);
    isolation: isolate;
}

main .container .wachtwoordVergetenTitel{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

main .container h5{
    margin-top: 10px;
    font-size: 19px;
}

main .container .wachtwoordVergetenForm div label{
    font-size: 18px;
}

main .container .wachtwoordVergetenForm div input{
    border-radius: 10px;
    transition: 200ms;
}

main .container .wachtwoordVergetenForm div input:focus{
    padding: 5px;
    border-color: rgba(165, 105, 189, 0.8);
    box-shadow: 0 0 10px rgb(165, 105, 189);
}

main .container .wachtwoordVergetenForm div .col-md-9{
    margin-top: -20px;
    background: rgb(245, 245, 245);
    padding: 20px 25px;
    border-radius: 15px;
}

main .container .wachtwoordVergetenForm div{
    margin: 0 auto;
}

main .container .wachtwoordVergetenForm .centerForm div .gaTerugKnop{
    margin-top: 30px;
    isolation: isolate;
}

main .container .wachtwoordVergetenForm .centerForm div .gaTerugKnop a{
    color: #000;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: #fff;
    transition: 200ms;
    isolation: isolate;
}

main .container .wachtwoordVergetenForm .centerForm div .gaTerugKnop a:hover{
    text-decoration-color: rgb(165, 105, 189);
    color: rgb(165, 105, 189);
    padding-left: 10px;
    isolation: isolate;
}

main .container .wachtwoordVergetenForm .centerForm div .wachtwoordVergetenButton{
    margin-top: 20px;
    background: #fff;
    font-size: 20px;
    color: rgb(165, 105, 189);
    border: 2px solid rgb(165, 105, 189);
    border-radius: 20px;
    padding: 4px 50px;
    transition: 200ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

main .container .wachtwoordVergetenForm .centerForm div .wachtwoordVergetenButton:hover{
    background: rgb(165, 105, 189);
    color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

/*************** CONTACTPAGINA CSS *************/
.contactPagina .jumbotron{
    padding-left: 20%;
}

.contactPagina .jumbotron p{
    font-size: 17px;
    margin-bottom: 0;
}

.contactPagina .container{
    margin-bottom: 150px;
}

.contactPagina .container h4, main .container h5{
    margin-bottom: 20px;
}

.contactPagina .container .contactpaginaFormulier{
    margin-top: 50px;
}

.contactPagina .container .contactpaginaFormulier div{
    background: rgb(245, 245, 245);
    border-radius: 15px;
    padding: 8px 12px;
}

.contactPagina .container .contactpaginaFormulier div div input, main .container .contactpaginaFormulier div div textarea{
    border-radius: 10px;
    transition: 200ms;
}

.contactPagina .container .contactpaginaFormulier div div input:focus, main .container .contactpaginaFormulier div div textarea:focus{
    padding-left: 5px;
    border-color: rgba(165, 105, 189, 0.8);
    box-shadow: 0 0 10px rgb(165, 105, 189);
}

.contactpaginaButton{
    margin-top: 50px;
    color: rgb(165, 105, 189);
    background: #fff;
    border: 2px solid rgb(165, 105, 189);
    border-radius: 25px;
    font-size: 20px;
    padding: 5px 50px;
    transition: 200ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.contactpaginaButton:hover{
    color: #fff;
    background: rgb(165, 105, 189);
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

/* rating css */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/*************** LEGENDA CSS *************/
.mijnVeilingenBox .row .legenda h5, .favorietenBox .row h5{
    margin-bottom: -20px;
}

/*************** PROFIELPAGINA VAN IEMAND ANDERS CSS *************/
.profielPaginaVIemandAnders .jumbotron{
    padding-left: 20%;
}

.profielPaginaVIemandAnders .jumbotron p{
    margin-bottom: 0;
    font-size: 17px;
}

.profielPaginaVIemandAnders .container{
    margin-bottom: 150px;
}

.profielPaginaVIemandAnders .container .row{
    margin-bottom: 40px;
}

.profielPaginaVIemandAnders .lijn{
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding-top: 20px;
}

.profielPaginaVIemandAnders .card-title{
    font-weight: normal;
}

.profielPaginaVIemandAnders .container .container .row div .card .card-body .card-img{
    margin-bottom: 20px;
}

.profielPaginaVIemandAnders .container .row div .card .card-body div button{
    background: none;
    color: rgb(165, 105, 189);
    border: 2px solid rgb(165, 105, 189);
    border-radius: 12px;
    transition: 200ms;
    margin-bottom: 10px;
}

.profielPaginaVIemandAnders .container .row div .card .card-body div button:hover,
.profielPaginaVIemandAnders .container .row div .card .card-body div button:focus{
    background: rgb(165, 105, 189);
    color: #fff;
    border-color: rgba(165, 105, 189, 0.8);
    box-shadow: 0 0 10px rgb(165, 105, 189);
}

.profielPaginaVIemandAnders .container .row div .card .card-body div div{
    margin-top: 2px;
    border: 2px solid rgb(165, 105, 189);
    border-radius: 10px;
}

.profielPaginaVIemandAnders .container .row div .card .card-body div div .voegReviewToeForm div{
    border: none;
    margin: 0;
}

.dropdown-menu{
    width: 89%;
}

.profielPaginaVIemandAnders .container .row div .card .card-body div div .voegReviewToeForm div textarea{
    margin-top: 10px;
    border-radius: 10px;
    transition: 200ms;
}

.profielPaginaVIemandAnders .container .row div .card .card-body div div .voegReviewToeForm div textarea:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.profielPaginaVIemandAnders .container .row div .card .card-body div div .voegReviewToeForm div textarea:focus{
    border-color: rgba(165, 105, 189, .6);
    box-shadow: 0 0 15px rgba(165, 105, 189, .6);
}

.profielPaginaVIemandAnders .container .row div .card .card-body div div .voegReviewToeForm button{
    width: 60%;
    margin: 20px 0 0 20%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.profielPaginaVIemandAnders .container .row div .card .card-body div div .voegReviewToeForm button:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.profielPaginaVIemandAnders .container .errorReviewText{
    font-size: 17px;
    padding: 10px 20px 0 20px;
}

.geenGewonnenVeilingen, .geenAangebodenVeilingen{
    margin: 5px 35px 17px;
    font-size: 18px;
}

.profielPaginaVIemandAnders .container .row div .card .card-body a{
    border: none;
    box-shadow: none;
}

.profielPaginaVIemandAnders .container .row div .card .card-body a:hover{
    background: none;
    box-shadow: none;
    color: rgb(165, 105, 189);
}

.profielPaginaVIemandAnders .ratingForm .ratingButton{
    margin-top: 20px;
    padding: 2px 40px;
    background: #fff;
    color: rgb(165, 105, 189);
    border: 2px solid rgb(165, 105, 189);
    border-radius: 10px;
    transition: 200ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.profielPaginaVIemandAnders .ratingForm .ratingButton:hover{
    color: #fff;
    background: rgb(165, 105, 189);
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.profielPaginaVIemandAnders .container .profielButtonBox{
    margin-bottom: -5px;
    margin-top: -40px;
}

.profielPaginaVIemandAnders .container .profielButtonBox .profielButton{
    background: rgb(165, 105, 189);
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 17px;
    transition: 200ms;
}

.profielPaginaVIemandAnders .container .profielButtonBox .profielButton:hover{
    text-decoration: none;
    background: rgb(126, 66, 149);
}

@media (max-width: 575px) {
    .profielPaginaVIemandAnders .container .profielButtonBox{
        margin-top: 30px;
    }

    .profielPaginaVIemandAnders .container .profielButtonBox .profielButton{
        background: none;
        color: rgb(165, 105, 189);
        text-decoration: underline;
        text-decoration-color: rgb(165, 105, 189);
    }

    .profielPaginaVIemandAnders .container .profielButtonBox .profielButton:hover{
        background: none;
        text-decoration: underline;
    }
}

.profielPaginaVIemandAnders .container .container .row div .card a .card-img{
    min-width: 100%;
    max-width: 100%;
    max-height: 400px;
}

.profielPaginaVIemandAnders .titelLinka{
    color: #000;
    transition: 150ms;
    text-decoration: underline;
    text-decoration-color: #fff;
}

.profielPaginaVIemandAnders .titelLinka:hover{
    color: rgb(165, 105, 189);
    text-decoration-color: rgb(165, 105, 189);
}

.itemImage{
    display: block;
    height: 250px;
    overflow: hidden;
}

.itemImage img{
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.profielPaginaVIemandAnders .geenReviewMelding{
    padding: 20px 10px 0 10px;
    font-size: 17px;
}

.profielPaginaVIemandAnders .tussenLijn{
    border-top: .8px solid rgba(0, 0, 0, .1);
    padding-top: 10px;
}

/*************** ADMIN-HOOFDPAGINA CSS *************/
.adminPagina .jumbotron, .adminPaginaSub .jumbotron{
    padding-left: 20%;
}


.adminPagina .jumbotron p, .adminPaginaSub .jumbotron p{
    font-size: 17px;
    margin-bottom: 0;
}

.adminPagina .container{
    margin-bottom: 150px;
}

.adminPagina .container .row div a{
    text-decoration: none;
    color: #000;
}

.adminPagina .container h2{
    margin-bottom: -10px;
    isolation: isolate;
}

.adminPagina .container .row{
    margin-bottom: 20px;
}

.adminPagina .container .row div a .card .card-body h4{
    font-weight: normal;
}

.adminPagina .container .row div a .card .card-body p{
    margin-top: 20px;
}

.adminPagina .container .row div a .card{
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    transition: 300ms;
}

.adminPagina .container .row div a .card:hover{
    border: 2px solid rgba(165, 105, 189, .4);
    box-shadow: 0 0 20px rgba(165, 105, 189, .4);
    background: rgba(165, 105, 189, .03);
}

.adminPagina .container .row div a .card .card-body h4{
    color: rgb(80, 80, 80);
}

.adminPagina .container .row div a .card .card-body img{
    height: 200px;
    width: 80%;
    margin-left: 10%;
    user-select: none;
}

@media (max-width: 1200px) {
    .adminPagina .container .row div a .card .card-body img{
        width: 50%;
        margin-left: 25%;
        height: 180px;
    }
}

@media (max-width: 990px) {
    .adminPagina .container .row div a .card .card-body img{
        height: 130px;
    }
}

@media (max-width: 765px) {
    .adminPagina .container .row div a .card .card-body img{
        height: 90px;
    }
}

@media (max-width: 575px) {
    .adminPagina .container .row div a .card .card-body img{
        width: 40%;
        margin-left: 30%;
        height: 150px;
    }
}

/*************** CATALOGUSPAGINA CSS *************/
.catalogusPagina .container{
    margin-top: 100px;
}

.catalogusPagina .container h3{
    font-weight: normal;
}

.catalogusPagina form .row div{
    margin-right: -20px;
}

.catalogusPagina form .row div label{
    font-size: 18px;
}

.catalogusPagina form .row div label[for="zoekbalk"]{
    font-size: 25px;
}

.catalogusPagina .filtermenu{
    margin-top: 50px;
}

.catalogusForm select, .catalogusForm input{
    transition: 300ms;
}

.catalogusForm select:hover, .catalogusForm input:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.catalogusForm select:focus, .catalogusForm input:focus{
    border-color: rgba(165, 105, 189, 0.8);
    box-shadow: 0 0 10px rgb(165, 105, 189);
}

.catalogusForm .zoekButton{
    background: #fff;
    border: 2px solid rgb(165, 105, 189);
    border-radius: 7px;
    padding: 2px 10px;
    font-size: 18px;
    color: rgb(165, 105, 189);
    transition: 200ms;
}

.catalogusForm .zoekButton:hover{
    color: #fff;
    background: rgb(165, 105, 189);
}

@media (max-width: 767px) {
    .catalogusPagina .productAanbiedenDiv {
        margin-top: -20px;
        margin-bottom: 20px;
    }
}

.catalogusPagina .productAanbiedenDiv{
    margin-top: -50px;
}

.catalogusPagina .productAanbiedenButton{
    padding: 4px 10px;
    color: #000;
    font-size: 17px;
    transition: 300ms;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.catalogusPagina .productAanbiedenButton:hover{
    color: rgb(165, 105, 189);
    text-decoration: none;
    border-color: rgb(165, 105, 189);
}

@media (max-width: 767px) {
    .catalogusPagina .productAanbiedenDiv{
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .catalogusPagina .productAanbiedenButton{
        border: none;
        text-decoration: underline;
    }

    .catalogusPagina .productAanbiedenButton:hover{
        text-decoration: underline;
    }

    .catalogusPagina .filtermenu{
        margin-top: 50px;
    }
}

.catalogusPagina .linkerkant{
    position: absolute;
    margin-left: 135px;
}

.catalogusPagina .linkerkant .categorieen h4{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.catalogusPagina .linkerkant .categorieen .list-unstyled{
    margin-top: 20px;
}

.catalogusPagina .linkerkant .categorieen .list-unstyled ul{
    list-style-type: none;
}

/*************** ADMINSUBPAGINA'S CSS *************/
.adminPaginaSub .container h2{
    margin-top: 50px;
    isolation: isolate;
}

.adminPaginaSub .container h5{
    margin-top: 20px;
}

.adminPaginaSub .legendaButton{
    margin-top: -42px;
}

.adminPaginaSub .legendaButton .legendaDropdownButton{
    background: none;
    color: rgb(165, 105, 189);
    font-size: 17px;
    border: none;
    transition: 300ms;
    padding: 3px 10px;
    text-decoration: underline;
    text-decoration-color: #fff;
}

.adminPaginaSub .legendaButton .legendaDropdownButton:focus,
.adminPaginaSub .legendaButton .legendaDropdownButton:hover{
    text-decoration-color: rgb(165, 105, 189);
}

.adminPaginaSub .container .dropdown-menu{
    max-width: 350px;
}

.adminPaginaSub .container .dropdown-menu .dropdown-item:active, .adminPaginaSub .container .dropdown-menu .dropdown-item:hover{
    background: none;
}

.adminPaginaSub .container .table-responsive{
    margin-top: 50px;
}

.adminPaginaSub .container .table-responsive table thead {
    background: rgba(165, 105, 189, .7);
}

.adminPaginaSub .container .table-responsive .table tbody td a{
    color: #000;
    text-decoration: underline;
    transition: 150ms;
}

.adminPaginaSub .container .table-responsive .table tbody td a:hover{
    color: rgb(165, 105, 189);
}

.adminPaginaSub .container .table-responsive .table tbody td{
    font-size: 17px;
}

.adminPaginaSub .gaTerugKnop{
    margin-top: 75px;
    margin-bottom: 200px;
    isolation: isolate;
}

.adminPaginaSub .gaTerugKnop a{
    font-size: 18px;
    color: #000;
    text-decoration: underline;
    text-decoration-color: #fff;
    transition: 200ms;
    isolation: isolate;
}

.adminPaginaSub .gaTerugKnop a:hover{
    text-decoration-color: rgb(165, 105, 189);
    color: rgb(165, 105, 189);
    padding-left: 10px;
    isolation: isolate;
}

.adminPaginaSub .container .dropdown-menu .dropdown-item .table thead tr th{
    border: none;
}

@media (max-width: 900px) {
    .adminPaginaSub .legendaButton{
        margin-top: 25px;
    }
}

.adminPaginaSub .container form{
    margin-top: 50px;
}

.adminPaginaSub .container form .text-center input{
    margin-top: 30px;
}

.adminPaginaSub .container form .text-center input{
    border: 2px solid rgb(165, 105, 189);
    border-radius: 15px;
    background: none;
    color: rgb(165, 105, 189);
    font-size: 18px;
    transition: 200ms;
}

.adminPaginaSub .container form label{
    font-size: 18px;
}

.adminPaginaSub .container form input{
    border-radius: 10px;
    transition: 200ms;
}

.adminPaginaSub .container form input:focus{
    box-shadow: 0 0 15px rgba(165, 105, 189, .5);
    border-color: rgba(165, 105, 189, .5);
}

.adminPaginaSub .container form .text-center input:hover{
    background: rgb(165, 105, 189);
    color: #fff;
    box-shadow: 0 0 20px rgba(165, 105, 189, .6);
}

.adminPaginaSub .container form .text-center input[value="Reset"]{
    border-color: red;
    color: red;
}

.adminPaginaSub .container form .text-center input[value="Reset"]:hover{
    background: red;
    color: #fff;
    box-shadow: 0 0 10px red;
}

.adminPaginaSub input[name="newRubriek"]:focus{
    padding-left: 5px;
}

/******************* VEILING BEKIJKEN ******************/
.veilingBekijkenPagina .container{
    margin-bottom: 200px;
}

.veilingBekijkenPagina .card-header{
    background: none;
    font-weight: normal;
}

.veilingBekijkenPagina .card{
    border-radius: 10px;
}

.veilingBekijkenPagina .aantalKeerBekeken{
    margin-top: -36px;
}

.veilingBekijkenPagina .verkoper .card a{
    color: #000;
    text-decoration: none;
}

.veilingBekijkenPagina .bieden{
    margin-bottom: 10px;
}

.veilingBekijkenPagina .biedingen li{
    padding: 7px 0 7px 0;
    border: 1px solid rgba(0, 0, 0, .2);
}

.veilingBekijkenPagina form .plaatsUwBod{
    margin-top: 10px;
}

.veilingBekijkenPagina form .inputBod{
    transition: 200ms;
}

.veilingBekijkenPagina form .inputBod:focus{
    box-shadow: 0 0 10px rgba(165, 105, 189, .6);
    border-color: rgb(165, 105, 189);
}

.veilingBekijkenPagina .buttonBox button{
    margin-top: 30px;
    background: none;
    border: 2px solid rgb(165, 105, 189);
    border-radius: 12px;
    color: rgb(165, 105, 189);
    font-size: 18px;
    width: 100%;
    transition: 200ms;
}

.veilingBekijkenPagina .buttonBox button:hover{
    background: rgb(165, 105, 189);
    color: #fff;
}

.veilingBekijkenPagina .itemInformatie .card-img-top{
    margin: 20px 5% 20px 5%;
    max-width: 90%;
}

.veilingBekijkenPagina .verkoperInformatieBox{
    margin: 30px 2% 10px 2%;
}

.veilingBekijkenPagina .verkoperInformatie{
    margin-top: 20px;
}

.veilingBekijkenPagina .itemInformatie .card .card-text{
    margin: 0 5%;
}

@media (max-width: 1200px){
    .veilingBekijkenPagina .verkoper .card-img{
        max-width: 74%;
        margin-left: 13%;
    }
}

@media (max-width: 770px) {
    .veilingBekijkenPagina .verkoper .card-img{
        max-width: 64%;
        margin-left: 18%;
    }
}

/******************************* DARKMODE *********************************/

.darkmode-toggle{
    z-index: 10;
}

/********* ADDPRODUCTVIEW.PHP *********/

    /*** ISOLATIONS ***/
footer,
.addProductPagina .addProductForm .form-group{
    isolation: isolate;
}

    /*** CSS ***/
.darkmode--activated h1, .darkmode--activated h2, .darkmode--activated h3, .darkmode--activated h4, .darkmode--activated h5{
    color: rgb(240, 240, 240);
}

.darkmode--activated label{
    color: rgb(230, 230, 230);
}

.darkmode--activated .registerForm .container,
.darkmode--activated .upgradeForm .container,
.darkmode--activated .updateForm .container,
.darkmode--activated .addProductForm .container{
    background: rgb(110, 110, 110);
}

.darkmode--activated input,
.darkmode--activated textarea,
.darkmode--activated select,
.darkmode--activated input:focus,
.darkmode--activated textarea:focus,
.darkmode--activated select:focus,
.darkmode--activated .card,
.darkmode--activated .custom-file label{
    background: rgb(80, 80, 80);
    color: rgb(230, 230, 230);
    border: 1px solid rgb(80, 80, 80);
}

.darkmode--activated .input-group-prepend span, .darkmode--activated .input-group-append span, .darkmode--activated .custom-file label::after{
    background: rgb(65, 65, 65);
    color: rgb(230, 230, 230);
    border: none;
}

.darkmode--activated .addProductPagina .cardPreviewBox .card-body h5, .darkmode--activated .addProductPagina .cardPreviewBox .card-body a{
    color: rgb(230, 230, 230);
}

.darkmode--activated .addProductPagina .cardPreviewBox .card-body a:hover{
    color: rgb(150, 150, 150);
}

.darkmode--activated .addProductPagina .addProductForm .form-group a{
    color: rgb(230, 230, 230);
}

.darkmode--activated .addProductPagina .addProductForm .form-group a:hover{
    color: rgb(165, 105, 189);
}

.darkmode--activated .addProductButton{
    background: rgb(100, 100, 100);
    color: rgb(230, 230, 230);
    box-shadow: 0 0 20px rgb(165, 105, 189);
}

.darkmode--activated .addProductButton:hover{
    box-shadow: 0 0 20px rgb(165, 105, 189);
    color: rgb(50, 50, 50);
}

/********* ADMINVIEW.PHP *********/

    /*** ISOLATIONS ***/
.darkmode--activated .adminPagina{
    isolation: isolate;
}

    /*** CSS ***/
.darkmode--activated .jumbotron{
    background: rgb(60, 60, 60);
}

.darkmode--activated .jumbotron p,
.darkmode--activated .jumbotron h2,
.darkmode--activated .container h2,
.darkmode--activated .adminPagina .container .card .card-body .card-title{
    color: rgb(230 ,230, 230);
}

/********* CATALOGUSVIEW.PHP *********/

    /*** ISOLATIONS ***/

    /*** CSS ***/
.darkmode--activated .catalogusPagina .categorieen,
.darkmode--activated .catalogusPagina .productAanbiedenDiv .productAanbiedenButton,
.darkmode--activated .catalogusPagina .card .card-body h5{
    color: rgb(230, 230, 230);
    border-color: rgb(230, 230, 230);
}

.darkmode--activated .catalogusPagina .productAanbiedenDiv .productAanbiedenButton:hover{
    color: rgb(165, 105, 189);
    border-color: rgb(165, 105, 189);
}

.darkmode--activated .catalogusPagina .zoekButton{
    background: none;
}

.darkmode--activated .catalogusPagina .zoekButton:hover{
    background: rgb(165, 105, 189);
    color: rgb(50, 50, 50);
}

/********* CONTACTVIEW.PHP *********/

/*** ISOLATIONS ***/
.darkmode--activated .contactPagina{
    isolation: isolate;
}
/*** CSS ***/
.darkmode--activated .contactPagina .container h5{
    color: rgb(230, 230, 230);
}

.darkmode--activated .contactPagina .contactpaginaFormulier div{
    background: rgb(110, 110, 110);
}

.darkmode--activated .contactPagina .contactpaginaFormulier .contactpaginaButton{
    background: rgb(110, 110, 110);
    color: rgb(230, 230, 230);
    box-shadow: 0 0 15px rgb(165, 105, 189);
}

.darkmode--activated .contactPagina .contactpaginaFormulier .contactpaginaButton:hover{
    background: rgb(165, 105, 189);
    color: rgb(40, 40, 40);
}

/********* FORGOTPASSWORDVIEW.PHP *********/

/*** ISOLATIONS ***/
.darkmode--activated .forgotPasswordPagina{
    isolation: isolate;
}
/*** CSS ***/
.darkmode--activated .forgotPasswordPagina h5{
    color: rgb(230, 230, 230);
}

.darkmode--activated .forgotPasswordPagina .wachtwoordVergetenForm .centerForm .emailContainer{
    background: rgb(110, 110, 110);
}

.darkmode--activated .forgotPasswordPagina .container .wachtwoordVergetenForm .gaTerugKnop a{
    color: rgb(230, 230, 230);
}

.darkmode--activated .forgotPasswordPagina .container .wachtwoordVergetenForm .gaTerugKnop a:hover{
    color: rgb(165, 105, 189);
}

.darkmode--activated .forgotPasswordPagina .container .wachtwoordVergetenForm .wachtwoordVergetenButton{
    background: rgb(110, 110, 110);
    color: rgb(230, 230, 230);
}

.darkmode--activated .forgotPasswordPagina .container .wachtwoordVergetenForm .wachtwoordVergetenButton:hover{
    color: rgb(40, 40, 40);
}

/********* HOMEVIEW.PHP *********/

/*** ISOLATIONS ***/
.darkmode--activated .homePage{
    isolation: isolate;
}

/*** CSS ***/
.darkmode--activated .homePage .products{
    background: rgb(70, 70, 70);
}

.darkmode--activated .homePage .carousel-caption,
.darkmode--activated .homePage .carousel-caption a h3{
    color: rgb(230, 230, 230);
}

.darkmode--activated .homePage .carousel-item img{
    opacity: .8;
}

.darkmode--activated .homePage .products h3,
.darkmode--activated .homePage .card .card-body h5{
    color: rgb(230, 230, 230);
}

/********* ITEMVIEW.PHP *********/

/*** ISOLATIONS ***/
.darkmode--activated .veilingBekijkenPagina{
    isolation: isolate;
}

/*** CSS ***/
.darkmode--activated .veilingBekijkenPagina .card{
    background: rgb(110, 110, 110);
}

.darkmode--activated .veilingBekijkenPagina .biedingen li{
    background: rgb(80, 80, 80);
}

.darkmode--activated .veilingBekijkenPagina .btn{
    background: rgb(80, 80, 80);
    color: rgb(230, 230, 230);
    box-shadow: 0 0 15px rgb(165, 105, 189);
}

/********* LOGINVIEW.PHP *********/

/*** ISOLATIONS ***/
.darkmode--activated .loginPagina{
    isolation: isolate;
}

/*** CSS ***/
.darkmode--activated .loginPagina #login .container #login-row #login-column #login-box, #register .container #login-row #login-column #login-box{
    background: rgb(110, 110, 110);
    border-color: rgb(110, 110, 110);
}

.darkmode--activated .loginPagina .form-group a{
    color: rgb(230, 230, 230);
}

.darkmode--activated .loginPagina .form-group a:hover{
    color: rgb(180, 180, 180);
}

.loginPagina .inlogButton{
    padding: 5px 110px;
    transition: 300ms;
}

.darkmode--activated .loginPagina .inlogButton{
    background: rgb(80, 80, 80);
    color: rgb(230, 230, 230);
    box-shadow: 0 0 15px rgb(165, 105, 189);
}

.darkmode--activated .loginPagina .inlogButton:hover{
    background: rgb(165, 105, 189);
    color: rgb(50, 50, 50);
}

/********* REGISTERVIEW.PHP *********/

/*** ISOLATIONS ***/
.darkmode--activated .registerPagina{
    isolation: isolate;
}

/*** CSS ***/
.darkmode--activated .registerPagina .container .subcontainer{
    background: rgb(110, 110, 110);
}

.darkmode--activated .registerPagina .container .subcontainer h5{
    color: rgb(230, 230, 230);
}

.darkmode--activated .registerPagina .container .gaTerugKnop{
    color: rgb(230, 230, 230);
}

.darkmode--activated .registerPagina .container .gaTerugKnop:hover{
    color: rgb(165, 105, 189);
}

.darkmode--activated .registerPagina .registerButton{
    background: rgb(110, 110, 110);
    color: rgb(230, 230, 230);
    box-shadow: 0 0 15px rgb(165, 105, 189);
}

.darkmode--activated .registerPagina .registerButton:hover{
    background: rgb(165, 105, 189);
    color: rgb(60, 60, 60);
}

/********* ITEMVIEW.PHP & FAVORITESVIEW.PHP *********/

/*** ISOLATIONS ***/
.darkmode--activated .mijnVeilingenPagina, .darkmode--activated .mijnFavorietenPagina{
    isolation: isolate;
}

/*** CSS ***/
.darkmode--activated .mijnVeilingenPagina .table thead tr th,
.darkmode--activated .mijnVeilingenPagina .legendaDropdownButton,
.darkmode--activated .mijnFavorietenPagina .table thead tr th,
.darkmode--activated .mijnFavorietenPagina .legendaDropdownButton{
    color: rgb(230, 230, 230);
    font-weight: normal;
    border: none;
}

.darkmode--activated .mijnVeilingenPagina .table tbody tr,
.darkmode--activated .mijnFavorietenPagina .table tbody tr{
    opacity: .75;
}

.darkmode--activated .mijnVeilingenPagina .table tbody tr td,
.darkmode--activated .mijnFavorietenPagina .table tbody tr td{
    border: none;
}

/* De "Legenda" -knop */
.darkmode--activated .mijnVeilingenPagina .legendaDropdownButton:hover,
.darkmode--activated .mijnVeilingenPagina .legendaDropdownButton:focus,
.darkmode--activated .mijnFavorietenPagina .legendaDropdownButton:hover,
.darkmode--activated .mijnFavorietenPagina .legendaDropdownButton:focus,
/* De "Ga terug" -knop */
.darkmode--activated .mijnVeilingenPagina .gaTerugKnop:hover,
.darkmode--activated .mijnFavorietenPagina .gaTerugKnop:hover{
    color: rgb(165, 105, 189);
}

.darkmode--activated .mijnVeilingenPagina .gaTerugKnop,
.darkmode--activated .mijnFavorietenPagina .gaTerugKnop{
    color: rgb(230, 230, 230);
}

.darkmode--activated .mijnVeilingenPagina .dropdown-menu,
.darkmode--activated .mijnFavorietenPagina .dropdown-menu{
    background: rgb(80, 80, 80);
}