/******************NAV******************/
nav{
}
.dropdown:hover>.dropdown-menu{
    display:block;
}
.dropdown-menu {
    margin:0;
}
.bg-light {
 background-color: #5f4b8b !important;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #ac00ff;
    border-color: #ac00ff;
}

.btn-outline-success {
    color: #ac00ff;
    border-color: #ac00ff;
}

.navbar .navbar-brand {
    color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ac00ff;
}
.navbar .navbar-text {
    color: #ffffff;
}
.navbar .navbar-text a {
    color: #ac00ff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ac00ff;
}
.navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ac00ff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ac00ff;
    background-color: #5f4b8b;
}
.navbar .navbar-toggle {
    border-color: #5f4b8b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #5f4b8b;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}
.navbar .navbar-link {
    color: #ffffff;
}
.navbar .navbar-link:hover {
    color: #ac00ff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ac00ff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ac00ff;
        background-color: #5f4b8b;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ac00ff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ac00ff;
        background-color: #5f4b8b;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ac00ff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ac00ff;
        background-color: #5f4b8b;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ac00ff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ac00ff;
        background-color: #5f4b8b;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ac00ff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ac00ff;
    background-color: #5f4b8b;
}
/**********************MAIN***********************/
main{
    min-height: calc(100vh - 112px);
}
/********************* FOOTER*********************/
footer{
    background-color: #5f4b8b;
    color: #fff;
}
footer p{
    display: flex;
    margin: 6px 0;
}

.bovenstukFooter{
    background: #876EBD;
}

footer div div div hr{
    width: 60px;
    border-color: rgba(255, 255, 255, .5);
}

footer a{
    color: #fff;
    transition: 200ms;
}

footer a:hover{
    text-decoration: underline;
    color: rgb(220, 220, 220);
    padding-left: 5px;
}

footer div div div p img{
    opacity: .9;
    width: 21px;
    max-height: 21px;
    max-width: 21px;
    user-select: none;
    margin-right: 7px;
}

footer div div div div a img{
    width: 40px;
    opacity: .7;
    transition: 300ms;
}

footer div div div div img:hover{
    opacity: 1;
}

footer div div div div a:hover{
    padding: 0;
}

/******************** HOMEPAGE *****************/
/* De kleur paars: #A569BD of 165, 105, 189 */

body{
    background: rgb(255, 255, 255);
}

/* DE INTRO: BOVENAAN: */
.jumbotron{
    padding-left: 12.5%;
    padding-right: 12.5%;
    background: rgb(245, 245, 245);
}

/* DE SLIDESHOW: */
.slideshow{
    margin: 60px 12.5% 0 12.5%;
}

.carousel-item div a h3{
    color: white;
    transition: 200ms;
}

.carousel-item div a h3:hover{
    text-decoration: underline;
    text-decoration-color: white;
    padding-bottom: 5px;
}

.sliderLinks:hover{
    text-decoration: none;
}

/* PRODUCTENLIJST */
.productsList{
    margin-top: 100px;
    padding: 60px 12.5% 30px 12.5%;
    background: rgb(245, 245, 245);
}

.card{
    margin: 25px 0;
    width: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.card-link{
    color: #B166CF;
    transition: 200ms;
}

.card-link:hover{
    color: #B166CF;
    padding-left: 10px;
}

.card a img{
    max-height: 400px;
}

/*********************** LOGIN-, REGISTRATIE-, UPDATE-, UPGRADE EN ADDPRODUCTFORMULIER *******************/
/* De gehele container van de login en register */
#login .container #login-row #login-column #login-box, #register .container #login-row #login-column #login-box{
    margin: 100px 0;
    max-width: 600px;
    height: 100%;
    border: 2px solid rgb(165, 105, 189);
    border-radius: 20px;
    background: #fff;
}

/* De gehele container van de register */
#register .container #login-row #login-column #login-box{
    border-width: 1px;
    max-width: none;
    background-color: #fff;
}

.updateForm p{
    font-size: 18px;
}

.addProductForm{
    margin-top: 50px;
    margin-bottom: 100px;
}

/* De subtitels (bijv: Accountgegevens en beveiliging) */
.registerForm h5, .verkoperFor h5, .updateForm h5, .addProductForm .container h5{
    margin-bottom: 20px;
}

/* De padding tussen de form en de rand van de gehele container */
#login .container #login-row #login-column #login-box #login-form, #register .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

/* De titels (bijv: Inloggen/Registreren) */
.loginForm h2, .registerForm h2, .upgradeForm h2, .updateForm h2, .addProductForm h2{
    font-weight: normal;
    color: rgb(80, 80, 80);
}

.upgradeForm h2, .updateForm h2{
    margin-bottom: 35px;
}

/* De 'Registreren' titel */
.registerForm h2, .addProductForm h2{
    margin-bottom: 50px;
}

/* De woorden bij de vakjes (bijv: Gebruikersnaam/Wachtwoord) */
.loginForm label, .registerForm label, .upgradeForm label, .updateForm label, .addProductForm .container div label{
    font-size: 17px;
}

/* De vakjes waar de gebruiker iets in moet vullen */
.loginForm input, .registerForm input, .registerForm select, .upgradeForm input, .updateForm input, .addProductForm input, .addProductForm select{
    border-radius: 10px;
    transition: 200ms;
}

/* Als de gebruiker een vakje selecteert: */
.loginForm input:focus, .registerForm input:focus, .registerForm select:focus, .upgradeForm input:focus, .updateForm input:focus, .addProductForm input:focus, .addProductForm select:focus{
    outline: none;
    padding: 5px;
}

/* In de loginpagina, de linkjes van bijv: 'Wachtwoord vergeten?' */
.loginForm a{
    color: black;
    transition: 200ms;
    text-decoration: underline;
}

/* Als de gebruiker eroverheen hovert met zijn muis: */
.loginForm a:hover{
    padding-left: 10px;
    color: rgb(165, 105, 189);
}

/* In de registerpagina, de tekst: Ik heb al een account */
.registerForm div a p, .upgradeForm a, .updateForm a, .addProductForm div a, .mijnVeilingenBox div p a{
    color: #000;
    text-decoration: underline;
    font-size: 18px;
    transition: 200ms;
}

/* het hierbovenstaande, alleen de gebruiker hovert eroverheen met zijn muis */
.registerForm div a p:hover, .upgradeForm a:hover, .updateForm a:hover, .addProductForm div a:hover, .mijnVeilingenBox div p a:hover{
    text-decoration: underline;
    padding-left: 15px;
    color: rgb(165, 105, 189);
}

/* De knoppen aan het einde */
.loginForm .inlogButton, .registerForm .registerButton, .upgradeForm .upgradeButton, .updateForm .updateButton, .addProductForm .addProductButton{
    margin-top: 10px;
    font-size: 20px;
    padding: 5px 30%;
    color: rgb(165, 105, 189);
    background: #fff;
    border: 2px solid rgb(165, 105, 189);
    border-radius: 25px;
    transition: 200ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.registerForm .registerButton, .addProductForm .addProductButton{
    padding: 0 50px;
}

.upgradeForm .upgradeButton, .updateForm .updateButton{
    padding: 0 20px
}

.updateForm .updateButton{
    margin-bottom: 100px;
}

/* Als de gebruiker over de knop hovert met zijn muis */
.loginForm .inlogButton:hover, .registerForm .registerButton:hover, .upgradeForm .upgradeButton:hover, .updateForm .updateButton:hover, .addProductForm .addProductButton:hover{
    background: rgb(165, 105, 189);
    color: #fff;
    border-color: rgb(165, 105, 189);
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

/* In de registerpagina, de containers van de twee verschillende onderwerpen, dus: (Accountgegevens & beveiliging) en Persoonlijke gegevens */
.registerForm .container, .upgradeForm .container, .updateForm .container, .addProductForm .container{
    background: rgb(245, 245 ,245);
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.upgradeForm, .updateForm{
    margin-top: 100px;
}

.addProductForm .container .form-row div div span{
    max-height: 38px;
}

/*************** Mijn Veilingen CSS *************/
.mijnVeilingenBox, .favoritesBox{
    margin: 0 20%;
}

.mijnVeilingenBox h2, .favoritesBox h2{
    font-weight: normal;
    margin-top: 75px;
}

.mijnVeilingenBox h5, .favoritesBox h5{
    margin-top: 30px;
    font-weight: normal;
}

.mijnVeilingenBox .table-responsive, .favoritesBox .table-responsive{
    margin-top: 30px;
}

.mijnVeilingenBox .gaTerugKnop, .favoritesBox .gaTerugKnop{
    margin-top: 50px;
}

.mijnVeilingenBox .table-responsive table tbody tr td a, .favoritesBox .table-responsive table tbody tr td a{
    color: rgb(165, 105, 189);
    text-decoration: underline;
    text-decoration-color: rgb(235, 235, 235);
    transition: 400ms;
}

.mijnVeilingenBox .table-responsive table tbody tr td a:hover, .favoritesBox .table-responsive table tbody tr td a:hover{
    text-decoration-color: rgb(165, 105, 189);
}

.mijnVeilingenBox div p a, .favoritesBox div p a{
    text-decoration-color: white;
    transition: 300ms;
}

/*************** ProfielPagina CSS *************/
.mijnEenmaalAndermaalTitel{
    margin-top: 75px;
}

.mijnEenmaalAndermaalTitel h2{
    font-weight: normal;
}

main .container .row div .card .card-body img{
    max-height: 410px;
    margin-bottom: 20px;
}

main .container .row div .card .card-body a{
    width: 100%;
    background: #fff;
    color: rgb(165, 105, 189);
    border: 2px solid rgb(165, 105, 189);
    border-radius: 15px;
    transition: 200ms;
}

main .container .row div .card .card-body a:hover{
    color: #fff;
    background: rgb(165, 105, 189);
}

main .container .row div .card .card-body h4{
    font-weight: normal;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    padding-bottom: 10px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, .02);
    text-align: center;
}

main .container .row div .card .card-body p b{
    font-weight: bold;
}

main .container .container h2{
    margin-top: 30px;
    padding-top: 30px;
    font-weight: normal;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

/*************** WACHTWOORD VERGETEN CSS *************/
main .container .wachtwoordVergetenForm{
    margin-top: 50px;
}

main .container h2, main .container h5{
    font-weight: normal;
    color: rgb(80, 80, 80);
}

main .container .wachtwoordVergetenTitel{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

main .container h5{
    margin-top: 10px;
    font-size: 19px;
}

main .container .wachtwoordVergetenForm div label{
    font-size: 18px;
}

main .container .wachtwoordVergetenForm div input{
    border-radius: 10px;
    transition: 200ms;
}

main .container .wachtwoordVergetenForm div input:focus{
    padding: 5px;
}

main .container .wachtwoordVergetenForm div .col-md-9{
    margin-top: -20px;
    background: rgb(245, 245, 245);
    padding: 20px 25px;
    border-radius: 15px;
}

main .container .wachtwoordVergetenForm div{
    margin: 0 auto;
}

main .container .wachtwoordVergetenForm .centerForm div .gaTerugKnop{
    margin-top: 30px;
}

main .container .wachtwoordVergetenForm .centerForm div .gaTerugKnop a{
    color: #000;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: #fff;
    transition: 200ms;
}

main .container .wachtwoordVergetenForm .centerForm div .gaTerugKnop a:hover{
    text-decoration-color: rgb(165, 105, 189);
    color: rgb(165, 105, 189);
    padding-left: 10px;
}

main .container .wachtwoordVergetenForm .centerForm div .wachtwoordVergetenButton{
    margin-top: 20px;
    background: #fff;
    font-size: 20px;
    color: rgb(165, 105, 189);
    border: 2px solid rgb(165, 105, 189);
    border-radius: 20px;
    padding: 4px 50px;
    transition: 200ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

main .container .wachtwoordVergetenForm .centerForm div .wachtwoordVergetenButton:hover{
    background: rgb(165, 105, 189);
    color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



