/******************NAV******************/
nav{
}
.dropdown:hover>.dropdown-menu{
    display:block;
}
.dropdown-menu {
    margin:0;
}
.bg-light {
 background-color: #5f4b8b !important;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #ac00ff;
    border-color: #ac00ff;
}

.btn-outline-success {
    color: #ac00ff;
    border-color: #ac00ff;
}

.navbar .navbar-brand {
    color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ac00ff;
}
.navbar .navbar-text {
    color: #ffffff;
}
.navbar .navbar-text a {
    color: #ac00ff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ac00ff;
}
.navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ac00ff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ac00ff;
    background-color: #5f4b8b;
}
.navbar .navbar-toggle {
    border-color: #5f4b8b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #5f4b8b;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}
.navbar .navbar-link {
    color: #ffffff;
}
.navbar .navbar-link:hover {
    color: #ac00ff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ac00ff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ac00ff;
        background-color: #5f4b8b;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ac00ff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ac00ff;
        background-color: #5f4b8b;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ac00ff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ac00ff;
        background-color: #5f4b8b;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ac00ff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ac00ff;
        background-color: #5f4b8b;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ac00ff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ac00ff;
    background-color: #5f4b8b;
}
/**********************MAIN***********************/
main{
min-height: calc(100vh - 112px);
}
/********************* FOOTER*********************/
footer{
    background-color:#5f4b8b;
    color:#fff;
}
footer p{
    margin:auto;
}

/******************** HOMEPAGE *****************/
/* De kleur paars: #A569BD of 165, 105, 189 */

body{
    background: rgb(255, 255, 255);
}

/* DE BODY VD PAGINA: */
.paginaBody{
    width: 75%;
    margin-left: 12.5%;
    margin-top: 5%;
    margin-bottom: 100px;
}

/* DE INTRO: BOVENAAN: */
.jumbotron{
    padding-left: 12.5%;
    padding-right: 12.5%;
    background: rgb(245, 245, 245);

}

/* DE SLIDESHOW: */
.slideshow{
    margin-top: 60px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.carousel-item div a h3{
    color: white;
    transition: 200ms;
}

.carousel-item div a h3:hover{
    text-decoration: underline;
    text-decoration-color: white;
    padding-bottom: 5px;
}

.sliderLinks:hover{
    text-decoration: none;
}

/* PRODUCTENLIJST */
.productsList{
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 12.5%;
    padding-right: 12.5%;
    background: rgb(245, 245, 245);
}

.card{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.card-link{
    color: #B166CF;
    transition: 200ms;
}

.card-link:hover{
    color: #B166CF;
    padding-left: 10px;
}

.card a img{
    max-height: 400px;
}