<html>
<body>
<h5>Hallo {{ username }}</h5>
<p>Goed nieuws!</p><br>
<p>U heeft zojuist een product gekocht voor maar {{ offer }} euro!</p><br>
<p>Bekijk het product wat u gekocht heeft op de site!</p><br>
<a href='https://iproject38.icasites.nl/item.php?id={{ id }}' target='_blank'>Klik hier!</a><br>
<p>Wilt u feedback achterlaten op deze verkoper? Dan kan dat ook. gebruik hiervoor de onderstaande link.</p>
<a href='https://iproject38.icasites.nl/profile.php?id={{ id }}' target='_blank'>Klik hier!</a><br>
<p>Groeten van het EenmaalAndermaal Team</p>
</body>
</html>