<html>
<body>
<div class="email-template">
    <h3 id="aankondiging">Hallo {{ username }}</h3>
    <p id="nieuws"> Wat fijn dat u zich heeft geregistreerd!</p>
    <p>Geniet bij ons van de talloze keuzes die je hebt!</p>
    <p>U bent nog een knop verwijderd van een account bij EenmaalAndermaal!</p>
    <a href='https://iproject38.icasites.nl/login.php?name={{ username }}&hash={{ hash }}' target='_blank'>Activeer hier jouw account!</a>
    <p>Groeten van het EenmaalAndermaal Team</p>
    <img src="images/icon.svg" alt="Icon van EenmaalAndermaal">
</div>
</body>
</html>