<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://iproject38.icasites.nl/css/styles.css">
</head>
<body>
<div class="email-template">
    <h3 id="aankondiging">Hallo {{ username }}</h3>
    <p id="nieuws">Zo te zien bent u uw wachtwoord vergeten.</p>
    <p>Geen probleem laten we dat samen even oplossen!</p>
    <p>Klik de onderstaande link om uw wachtwoord te resetten.</p>
    <a href='https://iproject38.icasites.nl/forgotPassword.php?email={{ email }}&hash={{ hash }}' target='_blank'>Klik hier</a>
    <p>Groeten van het EenmaalAndermaal Team</p>
    <img src="images/icon.svg" alt="Icon van EenmaalAndermaal">
</div>
</body>
</html>